.shopify-website-2-1-child {
  border: 0;
  background-color: #cbab81;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
}
.shopify-website-2-1-item {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100vw;
  height: 127px;
}
.shopify-website-2-1-inner {
  position: absolute;
  top: 235px;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #e5e5e5, silver);
  width: 800px;
  height: 489px;
}
.group-icon {
  position: absolute;
  top: 235px;
  left: 800px;
  width: 800px;
  height: 600px;
  object-fit: cover;
}
.button,
.free-shipping-on {
  position: absolute;
  width:300px;
  top: 16px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  text-align: left;
}
.button {
  cursor: pointer;
  width:150px;
  padding: 0;
  background-color: transparent;
  left: 146px;
  font-family: var(--font-lato);
  display: inline-block;
}
.free-shipping-on {
  left: 347px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  width: 28px;
  height: 28px;
}
.group-inner,
.group-item {
  left: 40.6px;
}
.group-inner {
  left: 79.8px;
}
.group-child1,
.group-icon1,
.vector-icon {
  position: absolute;
  height: 39.6%;
  width: 10.29%;
  top: 31.8%;
  right: 81.71%;
  bottom: 28.6%;
  left: 8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.vector-icon {
  width: 12.65%;
  right: 43.92%;
  left: 43.43%;
}
.vector-icon {
  height: 40%;
  width: 5.19%;
  top: 30%;
  right: 10.39%;
  bottom: 30%;
  left: 84.42%;
}
.ellipse-parent {
  text-decoration: none;
  position: absolute;
  top: 11px;
  left: 1209.2px;
  width: 107.8px;
  height: 28px;
}
.logo,
.logo1 {
  margin: 0;
  position: absolute;
  top: 77px;
  left: 120px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkturquoise);
  text-align: left;
}
.logo1 {
  top: 3941px;
}
.rectangle-div,
.rectangle-input {
  border: 1px solid var(--color-orangered);
  background-color: var(--color-white);
  position: absolute;
  top: 83px;
  left: 392px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  width: 565px;
  height: 41px;
}
.rectangle-div {
  left: 905px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-orangered);
  width: 52px;
}
.vector-icon1 {
  position: absolute;
  height:20px;
  width:20px;
  top:93px;
  right:680px;
  /* height: 0.43%;
  width: 1.3%;
  top: 2.16%;
  right: 34.67%;
  bottom: 97.41%;
  left: 64.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%; */
}
.search {
  left: 422px;
  opacity: 0.3;
}
.loginregister,
.search,
.textarea {
  border: 0;
  background-color: transparent;
  font-family: var(--font-lato);
  font-size: var(--font-size-mini);
  position: absolute;
  top: 94px;
  color: var(--color-gray);
  text-align: left;
}
.loginregister {
  cursor: pointer;
  padding: 0;
  left: 1224px;
  display: inline-block;
}
.textarea {
  left: 1102px;
}
.vector-icon2 {
  height: 0.46%;
  width: 1.11%;
  top: 2.14%;
  right: 24.86%;
  bottom: 97.4%;
  left: 74.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.ellipse-div,
.vector-icon2 {
  position: absolute;
  top:93px;
  width:20px;
  height:20px;
  left:1060px;
}
.ellipse-div {
  top: 83px;
  left: 1075px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 20px;
  height: 20px;
}
.b {
  top: 87px;
  left: 1079px;
  font-size: 10px;
  color: var(--color-white);
  text-align: left;
}
.all-products {
  position: absolute;
  left: 438px;
  font-weight: 600;
}
.all-products,
.faqs,
.our-goal {
  top: 180px;
  font-family: var(--font-poppins);
  text-align: left;
}
.our-goal {
  position: absolute;
  left: 728px;
  font-weight: 600;
}
.faqs {
  left: 990px;
}
.by-category,
.contact-us,
.faqs {
  position: absolute;
  font-weight: 600;
}
.contact-us {
  top: 180px;
  left: 1218px;
  font-family: var(--font-poppins);
  text-align: left;
}
.by-category {
  top: 0;
  left: 0;
}
.vector-icon3 {
  position: absolute;
  height: 32.02%;
  width: 10.22%;
  top: 33.33%;
  right: 0;
  bottom: 34.65%;
  left: 89.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.by-category-parent {
  position: absolute;
  top: 180px;
  left: 120px;
  width: 137px;
  height: 27px;
  text-align: left;
  font-family: var(--font-poppins);
}
.lorem-ipsum-is,
.we-make-it {
  margin: 0;
  position: absolute;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.lorem-ipsum-is {
  top: 0;
  font-size: inherit;
  line-height: 55px;
  font-family: inherit;
  width: 520px;
}
.we-make-it {
  top: 119px;
  font-size: var(--font-size-3xl);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-darkslategray);
  width: 359px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 139px;
  height: 50px;
}
.shop-now {
  position: absolute;
  top: 0;
  left: 28px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-orangered);
  text-align: left;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 203px;
  left: 0;
  width: 139px;
  height: 50px;
}
.lorem-ipsum-is-simply-dummy-te-parent {
  position: absolute;
  top: 353px;
  left: 120px;
  width: 520px;
  height: 253px;
  text-align: left;
  font-size: var(--font-size-26xl);
  font-family: var(--font-poppins);
}
.on-all-order {
  position: absolute;
  top: 818px;
  left: 272px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.free-shipping {
  position: absolute;
  top: 779px;
  left: 288px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-weight: 900;
}
.shopify-website-2-1-child1 {
  position: absolute;
  top: 653px;
  left: 280px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 4px solid var(--color-orange);
  box-sizing: border-box;
  width: 124px;
  height: 124px;
}
.shipped-1-icon {
  position: absolute;
  top: 683px;
  left: 309px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.contct-us-24 {
  position: absolute;
  top: 818px;
  left: 1115px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.support-247 {
  position: absolute;
  top: 779px;
  left: 1132px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-weight: 900;
}
.shopify-website-2-1-child2 {
  position: absolute;
  top: 653px;
  left: 1122px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 4px solid var(--color-orange);
  box-sizing: border-box;
  width: 124px;
  height: 124px;
}
.customer-service-1-icon {
  position: absolute;
  top: 683px;
  left: 1150px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.payment-secure {
  position: absolute;
  top: 779px;
  left: 825px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-weight: 900;
}
.your-payments-are {
  position: absolute;
  top: 818px;
  left: 825px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.shopify-website-2-1-child3 {
  position: absolute;
  top: 653px;
  left: 850px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 4px solid var(--color-orange);
  box-sizing: border-box;
  width: 124px;
  height: 124px;
}
.secure-payment-1-icon {
  position: absolute;
  top: 683px;
  left: 878px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.returns-are-free {
  position: absolute;
  top: 818px;
  left: 535px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.free-return {
  position: absolute;
  top: 779px;
  left: 575px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-weight: 900;
}
.shopify-website-2-1-child4 {
  position: absolute;
  top: 653px;
  left: 570px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 4px solid var(--color-orange);
  box-sizing: border-box;
  width: 124px;
  height: 124px;
}
.return-box-1-icon {
  position: absolute;
  top: 683px;
  left: 600px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.add-best-products,
.on-sale {
  position: absolute;
  line-height: 55px;
  font-family: var(--font-poppins);
}
.on-sale {
  margin: 0;
  top: 922px;
  left: 718px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  text-align: left;
}
.add-best-products {
  top: 963px;
  left: 668px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.line-icon {
  position: absolute;
  top: 949px;
  left: 997px;
  width: 473px;
  height: 1px;
}
.shopify-website-2-1-child5,
.shopify-website-2-1-child6 {
  position: absolute;
  top: 949px;
  left: 120px;
  width: 473px;
  height: 1px;
}
.shopify-website-2-1-child6 {
  top: 1052px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 224px;
  height: 406px;
}
.plastic-bag-foil-pouch-bag-pac-icon {
  position: absolute;
  top: 1088px;
  left: 165px;
  width: 133px;
  height: 150px;
  object-fit: cover;
}
.product-name {
  margin: 0;
}
.b1,
.product-name-500-container {
  position: absolute;
  line-height: 22px;
}
.product-name-500-container {
  top: 1258px;
  left: 181px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.b1 {
  top: 1322px;
  left: 200px;
  font-family: var(--font-poppins);
}
.group-child3 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-orange);
  width: 136px;
  height: 45px;
}
.add-to-cart {
  position: absolute;
  top: 0;
  left: 22px;
  font-size: var(--font-size-sm);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1378px;
  left: 164px;
  width: 136px;
  height: 50px;
}
.shopify-website-2-1-child7 {
  position: absolute;
  top: 1052px;
  left: 364px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 224px;
  height: 406px;
}
.b2,
.product-name-500-container1 {
  position: absolute;
  line-height: 22px;
}
.product-name-500-container1 {
  top: 1258px;
  left: 425px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.b2 {
  top: 1322px;
  left: 444px;
  font-family: var(--font-poppins);
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1378px;
  left: 408px;
  width: 136px;
  height: 50px;
}
.shopify-website-2-1-child8 {
  position: absolute;
  top: 1052px;
  left: 608px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 224px;
  height: 406px;
}
.co2-icon {
  position: absolute;
  top: 1088px;
  left: 669px;
  width: 101px;
  height: 150px;
  object-fit: cover;
}
.b3,
.product-name-500-container2 {
  position: absolute;
  line-height: 22px;
}
.product-name-500-container2 {
  top: 1258px;
  left: 669px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.b3 {
  top: 1322px;
  left: 688px;
  font-family: var(--font-poppins);
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1378px;
  left: 652px;
  width: 136px;
  height: 50px;
}
.shopify-website-2-1-child9 {
  position: absolute;
  top: 1052px;
  left: 852px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 224px;
  height: 406px;
}
.co3-icon {
  position: absolute;
  top: 1094px;
  left: 907px;
  width: 115px;
  height: 147px;
  object-fit: cover;
}
.b4,
.product-name-500-container3 {
  position: absolute;
  line-height: 22px;
}
.product-name-500-container3 {
  top: 1258px;
  left: 913px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.b4 {
  top: 1322px;
  left: 932px;
  font-family: var(--font-poppins);
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1378px;
  left: 896px;
  width: 136px;
  height: 50px;
}
.shopify-website-2-1-child10 {
  position: absolute;
  top: 1052px;
  left: 1096px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 224px;
  height: 406px;
}
.b5,
.product-name-500-container4 {
  position: absolute;
  line-height: 22px;
}
.product-name-500-container4 {
  top: 1258px;
  left: 1157px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.b5 {
  top: 1322px;
  left: 1176px;
  font-family: var(--font-poppins);
}
.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1378px;
  left: 1140px;
  width: 136px;
  height: 50px;
}
.co1-2-icon,
.home-fruitnik-1-icon {
  position: absolute;
  top: 1100px;
  left: 1139px;
  width: 138px;
  height: 138px;
  object-fit: cover;
}
.co1-2-icon {
  top: 1080px;
  left: 392px;
  width: 168px;
  height: 163px;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 0.69%;
  width: 1.29%;
  top: 28.53%;
  right: 95.14%;
  bottom: 70.78%;
  left: 3.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  right: 3.47%;
  left: 95.24%;
}
.shopify-website-2-1-child11 {
  position: absolute;
  top: 1498px;
  left: 677px;
  width: 86px;
  height: 14px;
}
.add-popular-cattegories,
.popular-categories {
  position: absolute;
  line-height: 55px;
  font-family: var(--font-poppins);
}
.popular-categories {
  margin: 0;
  top: 1599px;
  left: 500px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.add-popular-cattegories {
  top: 1640px;
  left: 565px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.shopify-website-2-1-child12,
.shopify-website-2-1-child13 {
  position: absolute;
  top: 1626px;
  left: 120px;
  width: 332.5px;
  height: 1px;
}
.shopify-website-2-1-child13 {
  left: 987px;
}
.rectangle-icon,
.shopify-website-2-1-child14 {
  position: absolute;
  left: 120px;
  width: 590px;
  height: 242px;
}
.shopify-website-2-1-child14 {
  top: 1730px;
  background: radial-gradient(50% 50%at 50% 50%, #ffd401, #ffac01);
}
.rectangle-icon {
  top: 1992px;
  object-fit: cover;
}
.shopify-website-2-1-child15 {
  position: absolute;
  top: 1730px;
  left: 730px;
  background: radial-gradient(50% 50%at 50% 50%, #dfdfdf, silver);
  width: 590px;
  height: 242px;
}
.shopify-website-2-1-child16 {
  position: absolute;
  top: 1992px;
  left: 730px;
  background: radial-gradient(50% 50%at 50% 50%, #5df1ed, #02c9c4);
  width: 590px;
  height: 242px;
}
.shopify-website-2-1-child17,
.shopify-website-2-1-child18,
.shopify-website-2-1-child19,
.shopify-website-2-1-child20 {
  position: absolute;
  top: 1668px;
  left: 468px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 265px;
  height: 265px;
  opacity: 0.15;
}
.shopify-website-2-1-child18,
.shopify-website-2-1-child19,
.shopify-website-2-1-child20 {
  top: 1930px;
}
.shopify-website-2-1-child19,
.shopify-website-2-1-child20 {
  top: 1668px;
  left: 1078px;
}
.shopify-website-2-1-child20 {
  top: 1930px;
}
.mask-group-icon {
  position: absolute;
  top: 1730px;
  left: 392px;
  width: 318px;
  height: 242px;
  object-fit: cover;
}
.products,
.products1,
.products2,
.products3 {
  position: absolute;
  top: 1822px;
  left: 170px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-dimgray);
}
.products1,
.products2,
.products3 {
  top: 2084px;
}
.products2,
.products3 {
  top: 1822px;
  left: 780px;
}
.products3 {
  top: 2084px;
}
.lorem-ipsum,
.lorem-ipsum1,
.lorem-ipsum2,
.lorem-ipsum3 {
  margin: 0;
  position: absolute;
  top: 1787px;
  left: 170px;
  font-size: var(--font-size-6xl);
  line-height: 22px;
  font-weight: 700;
  font-family: var(--font-poppins);
}
.lorem-ipsum1,
.lorem-ipsum2,
.lorem-ipsum3 {
  top: 2049px;
}
.lorem-ipsum2,
.lorem-ipsum3 {
  top: 1787px;
  left: 780px;
}
.lorem-ipsum3 {
  top: 2049px;
}
.group-child8 {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 107px;
  height: 35px;
}
.shop-now1 {
  position: absolute;
  top: 0;
  left: 17px;
  font-size: var(--font-size-smi);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-orangered);
  text-align: left;
}
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1873px;
  left: 170px;
  width: 107px;
  height: 50px;
}
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6 {
  top: 2135px;
}
.rectangle-parent5,
.rectangle-parent6 {
  top: 1873px;
  left: 780px;
}
.rectangle-parent6 {
  top: 2135px;
}
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3 {
  position: absolute;
  top: 1730px;
  left: 1002px;
  width: 318px;
  height: 242px;
  object-fit: cover;
}
.mask-group-icon2,
.mask-group-icon3 {
  top: 1992px;
  left: 392px;
}
.mask-group-icon3 {
  left: 967px;
  width: 353px;
}
.design-space-decorated-with-le-icon {
  position: absolute;
  top: 2334px;
  left: 0;
  width: 1596px;
  height: 480.23px;
  object-fit: cover;
}
.it-is-a,
.we-make-it1 {
  margin: 0;
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.it-is-a {
  top: 2402px;
  left: 306px;
  font-size: var(--font-size-26xl);
  line-height: 55px;
  font-family: var(--font-poppins);
  width: 828px;
}
.we-make-it1 {
  top: 2521px;
  left: 540px;
  font-size: var(--font-size-3xl);
  line-height: 50px;
  font-family: inherit;
  color: var(--color-darkslategray);
  width: 359px;
}
.group-child12,
.rectangle-parent7 {
  position: absolute;
  width: 139px;
  height: 50px;
}
.group-child12 {
  top: 0;
  left: 20px;
  border-radius: var(--br-21xl);
  background-color: var(--color-orangered);
}
.rectangle-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2605px;
  left: 650px;
}

.read-more {
  position: absolute;
  top: 0;
  left: 45px;
  font-size: var(--font-size-mini);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3321px;
  left: 120px;
  width: 139px;
  height: 50px;
}
.shopify-website-2-1-child21,
.shopify-website-2-1-child22 {
  position: absolute;
  top: 2664.9px;
  left: 253px;
  border-radius: 50%;
  background-color: var(--color-black);
  filter: blur(40px);
  width: 137px;
  height: 19.73px;
  transform: rotate(-25deg);
  transform-origin: 0 0;
}
.shopify-website-2-1-child22 {
  left: 1192.78px;
  transform: rotate(-155deg);
}
.mask-group-icon4,
.plastic-bag-foil-pouch-bag-pac-icon1,
.plastic-bag-foil-pouch-bag-pac-icon2 {
  position: absolute;
  top: 2461px;
  left: 182px;
  width: 210.78px;
  height: 220.19px;
  object-fit: cover;
}
.mask-group-icon4,
.plastic-bag-foil-pouch-bag-pac-icon2 {
  left: 1053px;
}
.mask-group-icon4 {
  top: 2633px;
  left: 0;
  width: 1596px;
  height: 181px;
}
.our-goal1 {
  margin: 0;
  position: absolute;
  top: 2983px;
  left: 140px;
  font-size: var(--font-size-21xl);
  line-height: 55px;
  font-weight: 600;
  font-family: var(--font-poppins);
  text-align: left;
}
.shopify-website-2-1-child23,
.there-are-many {
  position: absolute;
  top: 3010px;
  left: 434px;
  width: 400px;
  height: 1px;
}
.there-are-many {
  top: 3065px;
  left: 140px;
  font-size: 20px;
  line-height: 36px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  width: 575px;
  height: 212px;
}
.mask-group-icon5 {
  position: absolute;
  top: 2924px;
  left: 923px;
  width: 506px;
  height: 506px;
  object-fit: cover;
}
.shopify-website-2-1-child24 {
  position: absolute;
  top: 3251px;
  left: 798px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 229px;
  height: 229px;
}
.mask-group-icon6 {
  position: absolute;
  top: 3261px;
  left: 808px;
  width: 209px;
  height: 209px;
  object-fit: cover;
}
.mask-group-icon7,
.shopify-website-2-1-child25 {
  position: absolute;
  top: 3518px;
  left: 120px;
  width: 1200px;
  height: 336px;
}
.mask-group-icon7 {
  object-fit: cover;
}
.sign-for-our,
.subscribe-to-the {
  position: absolute;
  line-height: 55px;
  font-family: var(--font-poppins);
}
.subscribe-to-the {
  top: 3622px;
  left: 482px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.sign-for-our {
  margin: 0;
  top: 3580px;
  left: 451px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  text-align: left;
}
.shopify-website-2-1-child26,
.shopify-website-2-1-child27 {
  position: absolute;
  top: 3710px;
  border-radius: var(--br-31xl);
  height: 60px;
}
.shopify-website-2-1-child26 {
  border: 1px solid #d1d1d1;
  background-color: var(--color-white);
  left: 343px;
  box-sizing: border-box;
  width: 753px;
}
.shopify-website-2-1-child27 {
  left: 938px;
  background-color: var(--color-orangered);
  width: 158px;
}
.enter-your-email,
.send {
  position: absolute;
  top: 3713px;
  line-height: 55px;
}
.enter-your-email {
  left: 383px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  opacity: 0.5;
}
.send {
  left: 993px;
  color: var(--color-white);
}
.browse-by-categories,
.browse-by-countries,
.contact-us1,
.information {
  position: absolute;
  left: 432px;
  font-size: var(--font-size-mini);
  line-height: 55px;
  font-weight: 600;
  font-family: var(--font-poppins);
  text-align: left;
}
.browse-by-categories {
  margin: 0;
  top: 3935px;
}
.browse-by-countries,
.contact-us1,
.information {
  top: 4161px;
}
.browse-by-countries,
.information {
  margin: 0;
  top: 3935px;
  left: 755px;
}
.information {
  left: 1096px;
}
.beverages-grocery-instant-container {
  text-decoration: none;
  top: 3978px;
  left: 432px;
}
.about-us-contact-container,
.beverages-grocery-instant-container,
.copyright-2021,
.if-you-have-container,
.vietnam-korea-thailand-container {
  position: absolute;
  font-size: var(--font-size-mini);
  line-height: 35px;
  font-weight: 600;
  color: var(--color-dimgray);
  text-align: left;
}
.if-you-have-container {
  text-decoration: none;
  top: 4204px;
  left: 432px;
}
.about-us-contact-container,
.copyright-2021,
.vietnam-korea-thailand-container {
  top: 4271px;
  left: 1059px;
}
.about-us-contact-container,
.vietnam-korea-thailand-container {
  top: 3978px;
  left: 755px;
}
.about-us-contact-container {
  text-decoration: none;
  left: 1096px;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  height: 0.22%;
  width: 1.34%;
  top: 96.96%;
  right: 71.79%;
  bottom: 2.82%;
  left: 26.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon7 {
  height: 0.35%;
  width: 1.48%;
  top: 96.98%;
  right: 71.71%;
  bottom: 2.67%;
  left: 26.81%;
}
.group-icon2,
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 0.37%;
  width: 0.87%;
  top: 97.72%;
  right: 71.97%;
  bottom: 1.91%;
  left: 27.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2,
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon9 {
  width: 1.11%;
  top: 98.55%;
  right: 71.87%;
  bottom: 1.08%;
  left: 27.01%;
}
.group-icon2,
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  height: 100%;
  width: 11.27%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 88.73%;
}
.group-icon2,
.vector-icon11,
.vector-icon12 {
  width: 14.65%;
  right: 27.55%;
  left: 57.8%;
}
.vector-icon11,
.vector-icon12 {
  width: 18.02%;
  right: 58.37%;
  left: 23.61%;
}
.vector-icon12 {
  height: 99.98%;
  width: 7.6%;
  right: 92.4%;
  bottom: 0.02%;
  left: 0;
}
.vector-parent {
  text-decoration: none;
  position: absolute;
  height: 0.41%;
  width: 8.53%;
  top: 92.98%;
  right: 83.14%;
  bottom: 6.6%;
  left: 8.33%;
}
.rectangle-ul {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 254px;
  height: 295px;
}
.co3-icon1 {
  position: absolute;
  top: 16px;
  left: 19px;
  width: 28px;
  height: 36px;
  object-fit: cover;
}
.product-name5 {
  position: absolute;
  top: 16px;
  left: 67px;
}
.b6,
.b7,
.b8,
.product-name6,
.product-name7 {
  position: absolute;
  top: 90px;
  left: 67px;
}
.b6,
.b7,
.b8,
.product-name7 {
  top: 166px;
}
.b6,
.b7,
.b8 {
  top: 25px;
  left: 196px;
  font-size: var(--font-size-mini);
  text-align: right;
}
.b7,
.b8 {
  top: 99px;
}
.b8 {
  top: 175px;
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 37px;
  left: 94px;
  font-weight: 600;
}
.div1,
.div2 {
  top: 111px;
}
.div2 {
  top: 187px;
}
.group-child14,
.group-child15,
.group-child16 {
  position: absolute;
  top: 36px;
  left: 67px;
  width: 16px;
  height: 16px;
}
.group-child15,
.group-child16 {
  top: 110px;
}
.group-child16 {
  top: 186px;
}
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  top: 36px;
  left: 118px;
  width: 16px;
  height: 16px;
}
.group-child18,
.group-child19 {
  top: 110px;
}
.group-child19 {
  top: 186px;
}
.group-child20,
.line-div {
  position: absolute;
  top: 71.5px;
  left: 18.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 217px;
  height: 1px;
  opacity: 0.1;
}
.group-child20 {
  top: 147.5px;
}
.co1-2-icon1,
.plastic-bag-foil-pouch-bag-pac-icon3 {
  position: absolute;
  top: 90px;
  left: 19px;
  width: 31.92px;
  height: 36px;
  object-fit: cover;
}
.co1-2-icon1 {
  top: 168px;
  width: 37.1px;
}
.group-child21 {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-orange);
  width: 115px;
  height: 35px;
}
.continue {
  position: absolute;
  top: 0;
  left: 26px;
  font-size: var(--font-size-xs);
  line-height: 50px;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 234px;
  left: 70px;
  width: 115px;
  height: 50px;
}
.group-div {
  position: absolute;
  top: 123px;
  left: 1066px;
  width: 254px;
  height: 295px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.vector-icon13 {
  position: absolute;
  height: 0.37%;
  width: 1.11%;
  top: 0.39%;
  right: 90.56%;
  bottom: 99.24%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopify-website-2-1 {
  text-decoration: none;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4346px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-lato);
}
